<div class="container">
  <h3 class="content-subtitle">
    <span  class="regular fade-in animation-1" translate="guide.components.supervision.subtitle.1"></span>
    <span class="bold fade-in animation-2" translate="guide.components.supervision.subtitle.2"></span>
  </h3>
  <div class="content">
    <div class="left-content">
      <div class="row content-row">
        <span class="regular fade-in animation-3" translate="guide.components.supervision.texts.a"></span>
      </div>
      <div class="row content-row">
        <span class="regular fade-in animation-3" translate="guide.components.supervision.texts.f"></span>
      </div>
      <div class="row content-row">
        <span class="regular fade-in animation-3" translate="guide.components.supervision.texts.l"></span>
      </div>
      <img class="content-img fade-in animation-4" src="assets/supervision/1.png" alt="">
      <div class="row content-row">
        <span class="regular fade-in animation-3" translate="guide.components.supervision.texts.d"></span>
      </div>
      <div class="row content-row">
        <span class="regular fade-in animation-3" translate="guide.components.supervision.texts.c"></span>
      </div>
      <div class="row content-row">
        <span class="regular fade-in animation-3" translate="guide.components.supervision.texts.j"></span>
      </div>
      <div class="row content-row">
        <span class="regular fade-in animation-3" translate="guide.components.supervision.texts.o"></span>
      </div>
      <div class="row content-row">
        <span class="regular fade-in animation-3" translate="guide.components.supervision.texts.e"></span>
      </div>
      <div class="row content-row">
        <span class="regular fade-in animation-3" translate="guide.components.supervision.texts.k"></span>
      </div>
      <div class="row content-row">
        <span class="regular fade-in animation-3" translate="guide.components.supervision.texts.p"></span>
      </div>
      <div class="row content-row">
        <span class="regular fade-in animation-3" translate="guide.components.supervision.texts.b"></span>
      </div>
      <div class="row content-row">
        <span class="regular fade-in animation-3" translate="guide.components.supervision.texts.h"></span>
      </div>
      <div class="row content-row">
        <span class="regular fade-in animation-3" translate="guide.components.supervision.texts.n"></span>
      </div>
      <div class="row content-row">
        <span class="regular fade-in animation-3" translate="guide.components.supervision.texts.s"></span>
      </div>
      <div class="row content-row">
        <span class="regular fade-in animation-3" translate="guide.components.supervision.texts.i"></span>
      </div>
      <div class="row content-row">
        <span class="regular fade-in animation-3" translate="guide.components.supervision.texts.r"></span>
      </div>
      <img class="content-img fade-in animation-4" src="assets/supervision/2.png" alt="">
      <div class="row content-row">
        <span class="regular fade-in animation-3" translate="guide.components.supervision.texts.g"></span>
      </div>
      <div class="row content-row">
        <span class="regular fade-in animation-3" translate="guide.components.supervision.texts.m"></span>
      </div>
    </div>
  </div>
</div>
