<div class="intro" id="intro">
  <div class="intro-container" id="intro-container">
    <div class="intro-icon fade-in animation-1" id="intro-icon">
      <img class="intro-icon-img" id="intro-icon-img" src="assets/intro.png" alt="No icon">
    </div>
    <div class="intro-title fade-in animation-2" id="intro-title" translate="intro.title"></div>
    <div class="intro-text fade-in animation-3" id="intro-text" translate="intro.text"></div>
    <div class="intro-continue fade-in animation-4" id="intro-continue" [routerLink]="''">
      <div class="intro-continue-text regular" id="intro-continue-text" translate="intro.continue"></div>
      <div class="intro-continue-arrow" id="intro-continue-arrow">
        <img src="assets/continue_arrow.png" alt="No icon">
      </div>
    </div>
  </div>
</div>
