<div class="container">
  <h3 class="content-subtitle">
    <span class="regular fade-in animation-1" translate="guide.components.senior-leadership.subtitle.1"></span>
    <span class="bold fade-in animation-2" translate="guide.components.senior-leadership.subtitle.2"></span>
  </h3>
  <div class="content">
    <div class="left-content">
      <div class="row content-row">
        <span class="regular fade-in animation-3" translate="guide.components.senior-leadership.texts.a"></span>
      </div>
      <img class="content-img fade-in animation-4" src="assets/senior-leadership/1.png" alt="">
      <div class="row content-row">
        <span class="regular fade-in animation-3" translate="guide.components.senior-leadership.texts.g"></span>
      </div>
      <div class="row content-row">
        <span class="regular fade-in animation-3" translate="guide.components.senior-leadership.texts.c"></span>
      </div>
      <div class="row content-row">
        <span class="regular fade-in animation-3" translate="guide.components.senior-leadership.texts.i"></span>
      </div>
      <div class="row content-row">
        <span class="regular fade-in animation-3" translate="guide.components.senior-leadership.texts.e"></span>
      </div>
      <div class="row content-row">
        <span class="regular fade-in animation-3" translate="guide.components.senior-leadership.texts.b"></span>
      </div>
      <div class="row content-row">
        <span class="regular fade-in animation-3" translate="guide.components.senior-leadership.texts.h"></span>
      </div>
      <img class="content-img fade-in animation-4" src="assets/senior-leadership/2.png" alt="">
      <div class="row content-row">
        <span class="regular fade-in animation-3" translate="guide.components.senior-leadership.texts.d"></span>
      </div>
      <div class="row content-row">
        <span class="regular fade-in animation-3" translate="guide.components.senior-leadership.texts.f"></span>
      </div>
    </div>
  </div>
</div>
