<div class="container">
  <h3 class="content-subtitle">
    <span class="regular fade-in animation-1" translate="guide.components.learning-and-development.subtitle.1"></span>
    <span class="bold fade-in animation-2" translate="guide.components.learning-and-development.subtitle.2"></span>
  </h3>
  <div class="content">
    <div class="left-content">
      <div class="row content-row">
        <span class="regular fade-in animation-3" translate="guide.components.learning-and-development.texts.a"></span>
      </div>
      <div class="row content-row">
        <span class="regular fade-in animation-3" translate="guide.components.learning-and-development.texts.f"></span>
      </div>
      <div class="row content-row">
        <span class="regular fade-in animation-3" translate="guide.components.learning-and-development.texts.l"></span>
      </div>
      <div class="row content-row">
        <span class="regular fade-in animation-3" translate="guide.components.learning-and-development.texts.c"></span>
      </div>
      <div class="row content-row">
        <span class="regular fade-in animation-3" translate="guide.components.learning-and-development.texts.j"></span>
      </div>
      <img class="content-img fade-in animation-4" src="assets/learning-and-development/1.png" alt="">
      <div class="row content-row">
        <span class="regular fade-in animation-3" translate="guide.components.learning-and-development.texts.g"></span>
      </div>
      <div class="row content-row">
        <span class="regular fade-in animation-3" translate="guide.components.learning-and-development.texts.k"></span>
      </div>
      <div class="row content-row">
        <span class="regular fade-in animation-3" translate="guide.components.learning-and-development.texts.e"></span>
      </div>
      <div class="row content-row">
        <span class="regular fade-in animation-3" translate="guide.components.learning-and-development.texts.b"></span>
      </div>
      <div class="row content-row">
        <span class="regular fade-in animation-3" translate="guide.components.learning-and-development.texts.h"></span>
      </div>
      <img class="content-img fade-in animation-4" src="assets/learning-and-development/2.png" alt="">
      <div class="row content-row">
        <span class="regular fade-in animation-3" translate="guide.components.learning-and-development.texts.d"></span>
      </div>
      <div class="row content-row">
        <span class="regular fade-in animation-3" translate="guide.components.learning-and-development.texts.i"></span>
      </div>
      <div class="row content-row">
        <span class="regular fade-in animation-3" translate="guide.components.learning-and-development.texts.n"></span>
      </div>
      <div class="row content-row">
        <span class="regular fade-in animation-3" translate="guide.components.learning-and-development.texts.m"></span>
      </div>
    </div>
  </div>
</div>
