.quote {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.quote-container {
  width: 36em;
  margin: 7em auto;

  .close-button {
    text-align: right;
  }

  .quote-content {
    height: 35em;
    background-image: url("src/assets/quote/quote_background.png");
    background-size: 35em 35em;
    background-repeat: no-repeat;
    .quote-content-container {
      padding: 3em;
      .quote-text {
        color: white;
        text-align: center;
        font-size: 2.75em;
        font-weight: bold;
        font-style: italic;
      }

      .quote-author {
        color: white;
        margin-top: 2em;
        text-align: center;
        font-size: 2em;
        font-weight: bold;
      }

      .quote-metadata {
        color: white;
        margin-top: 0.5em;
        text-align: center;
        font-size: 1.75em;
      }
    }
  }
}

@media screen and (max-width: 922px) {
  .quote {
    display: none;
  }
}
